<h1>posts#index</h1>
<%= link_to "問題投稿へ", new_post_path %>
<div class="posts-container">
    <% @posts.each do |t| %>
        <div class="post">
            <% if user_signed_in? %>
                <%= link_to "編集する", edit_post_path(t.id) %>
                <%= link_to "削除する", post_path(t.id), method: :delete %>
            <% end %>
        </div>
    <% end %>
</div>
